
svelte-virtual-list-viewport.svelte-1il297a {
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  display: block;
}

svelte-virtual-list-contents.svelte-1il297a, svelte-virtual-list-row.svelte-1il297a {
  display: block;
}

svelte-virtual-list-row.svelte-1il297a {
  overflow: hidden;
}
